.side-spacing-global {
  padding: 0 12%;
  display: flex;
  flex: none;
  order: 1;
}

.button {
  background-color: #B1DEC0;
  border: 0;
  box-shadow: 0px 0px 8px rgba(61, 28, 94, 0.2), 0px 0px 16px rgba(61, 28, 94, 0.2);
  color: #1A1A1A;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 110%;
  padding: 16px 32px;
  transition: .5s background-color;
}

.button:hover {
  background-color: transparent;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  filter: drop-shadow(0px 0px 8px rgba(61, 28, 94, 0.2)) drop-shadow(0px 0px 24px rgba(61, 28, 94, 0.2));
  transition-delay: 0s;
}

.title-line {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title-line p {
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.4em;
  padding: 0 16px;
  margin-right:-0.4em;
  text-align:right;
  display: table;
}

.title-line-black {
  color: var(--neuter-90);
  fill: var(--neuter-90);
}

.title-line-green-light {
  color: var(--light-green);
  fill: var(--light-green);
}

.container-about-us {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

.container-about-us p {
  padding: 16px;
  background-color: var(--white);
  color: var(--neuter-90);
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: -30px;
  z-index: 1;
}

.container-about-us-photo-matheus {
  width: 600px;
  height: 459px;
  background: url('../assets/Matheus.png') center center / cover no-repeat;;
}

.container-about-us-photo-matheus:hover {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url('../assets/Matheus.png') center center / cover no-repeat;
  border: 0.5px solid #FFFFFF;
}

.container-about-us-photo-matheus:hover > ul {
  display: block;
}

.container-about-us-photo-giovanna {
  width: 600px;
  height: 459px;
  background: url('../assets/Giovanna.png') center center / cover no-repeat;;
}

.container-about-us-photo-giovanna:hover {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url('../assets/Giovanna.png') center center / cover no-repeat;
  border: 0.5px solid #FFFFFF;
}

.container-about-us-photo-giovanna:hover > ul {
  display: block;
}

.container-about-us ul {
  position: absolute;
  display: none;
  padding: 32px;
  z-index: 1;
  width: 570px;
  list-style-type: none;
}

.container-about-us ul li {
  font-style: normal;
  display: flex;
  align-items: center;
  font-weight: 400;
  line-height: 30px;
  font-size: 1.25rem;
  margin-top: 22px;
}

.container-about-us ul li:first-child {
  margin-top: 0;
}

.container-about-us ul li img {
  margin-right: 16px;
}


.aside-faq-question-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 16px;
  border-radius: 8px;
  width: 500px;
  flex-flow: wrap row;
}

.aside-faq-question-container.inactive {
  background-color: var(--dark-purple);
}

.aside-faq-question-container.active {
  background-color: var(--white);
  border: 1px solid var(--dark-purple);
  border-radius: 8px;
}

.aside-faq-question-container.active h3 {
  color: #666666
}

.aside-faq-question-container.active p {
  color: var(--neuter-90)
}


.aside-faq-question-container h3 {
  font-size: 1.5;
  line-height: 110%;
  font-weight: 700;
  font-style: normal;
}

.aside-faq-icon {
  padding: 8px;
  width: 34px;
  height: 34px;
  background-color: var(--white);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aside-faq-question-container.active .aside-faq-icon {
  background-color: var(--dark-purple);
}

.aside-faq-question-container.inactive .aside-faq-icon {
  background-color: var(--white);
}


.collapse-icon{
  position: relative;
}

.collapse-icon .acc-close{
  height: 20px;
  border-left: 2px solid var(--dark-purple);
  transition: all .5s ease-in-out;
  transform: rotate(-90deg);
  opacity: 1;
}

.aside-faq-question-container.active .collapse-icon .acc-close {
  border-top: 2px solid var(--white);
}

.aside-faq-question-container.inactive .collapse-icon .acc-close {
  border-top: 2px solid var(--dark-purple);
}

.collapse-icon .acc-open {
  width: 19px;
  position: absolute;
  border-top: 2px solid var(--dark-purple);
  transition: all .5s ease-in-out;
  transform: rotate(90deg);
  top: 43%;
  right: -8px;
}

.aside-faq-question-container.active .collapse-icon .acc-open {
  border-top: 2px solid var(--white);
}

.aside-faq-question-container.inactive .collapse-icon .acc-open {
  border-top: 2px solid var(--dark-purple);
}


.aside-faq-question-container.active .collapse-icon{
  transition: all .5s ease-in-out;
  transform: rotate(180deg);
}

.aside-faq-question-container.inactive .collapse-icon{
  transition: all .5s ease-in-out;
  transform: rotate(-180deg);
}

.aside-faq-question-container.active .collapse-icon .acc-open{
  opacity: 0;
}

.desWrapper {
  max-height: 500px;
  display: none;
  transition: max-height 1s ease-in;
}

.desWrapper.active {
  background-color: var(--white);
}

.desWrapper.inactive {
  background-color: var(--dark-purple);
}