.container-title {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.small-space-top {
  margin-top: 32px;
}

.medium-space-top {
  margin-top: 70px;
}

.large-space-top {
  margin-top: 120px;
}

.button {
  border: 0;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: var(--size-24);
  font-weight: 700;
  line-height: 110%;
  padding: 16px 32px;
  transition: .5s background-color;
  text-decoration: none;
}

.button svg {
  margin-left: 20px;
}

.button:hover {
  filter: drop-shadow(0px 0px 8px rgba(61, 28, 94, 0.2)) drop-shadow(0px 0px 24px rgba(61, 28, 94, 0.2));
  transition-delay: 0s;
}

.button:hover svg path {
  transition-delay: 0s;
}

/* Green button */
.button-green {
  background-color: var(--light-green);
  color: var(--neuter-90);
}

.button-green:hover {
  background-color: transparent;
  box-shadow: inset 0 0 0 1px var(--white);
  color: var(--white);
}

.button-green svg path {
  fill: var(--neuter-90);
}

.button-green:hover svg path {
  fill: var(--white);
}

/* Purple dark button */

.button-dark-purple {
  background: linear-gradient(270deg, var(--medium-purple) 0%, var(--dark-purple) 100%);
  color: var(--white);
}

.button-dark-purple:hover {
  background: transparent;
  box-shadow: inset 0 0 0 1px var(--medium-purple);
  color: var(--medium-purple);
}

.button-dark-purple svg path {
  fill: var(--white);
}

.button-dark-purple:hover svg path {
  fill: var(--medium-purple);
}

/* Purple light button */
.button-light-purple {
  background-color: var(--light-purple);
  color: var(--white);
}

.button-light-purple:hover {
  background: transparent;
  box-shadow: inset 0 0 0 1px var(--light-purple);
  color: var(--light-purple);
}

.button-light-purple svg path {
  fill: var(--white);
}

.button-light-purple:hover svg path {
  fill: var(--light-purple);
}


.title-line {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title-line p {
  font-size: var(--size-24);
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.4em;
  text-transform: uppercase;
  padding: 0 16px;
  margin-right:-0.4em;
  text-align: center;
  display: table;
}

.title-line-black {
  color: var(--neuter-90);
  fill: var(--neuter-90);
}

.title-line-green-light {
  color: var(--light-green);
  fill: var(--light-green);
}

.container-about-us {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  width: calc(50% - 16px);
}

.container-about-us p {
  padding: 4px 32px;
  background-color: var(--white);
  color: var(--neuter-90);
  font-size: var(--size-40);
  font-weight: 700;
  margin-top: -30px;
  z-index: 1;
  width: 75%;
  text-align: center;
}

.container-about-us-photo-matheus {
  width: 100%;
  height: 459px;
  background: url('../assets/Matheus-desktop.webp') center center / cover no-repeat;;
}

.container-about-us-photo-matheus:hover {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url('../assets/Matheus-desktop.webp') center center / cover no-repeat;
  border: 0.5px solid #FFFFFF;
}

.container-about-us-photo-matheus:hover > ul {
  display: list-item;
}

.container-about-us-photo-giovanna {
  width: 100%;
  height: 459px;
  background: url('../assets/Giovanna-desktop.webp') center center / cover no-repeat;
}

.container-about-us-photo-giovanna:hover {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url('../assets/Giovanna-desktop.webp') center center / cover no-repeat;
  border: 0.5px solid #FFFFFF;
}

.container-about-us-photo-giovanna:hover > ul {
  display: block;
}

.container-about-us ul {
  display: none;
  padding: 32px;
  z-index: 1;
  width: 100%;
  list-style-type: none;
}

.container-about-us ul li {
  font-style: normal;
  display: flex;
  align-items: center;
  font-weight: 400;
  line-height: 30px;
  gap: 16px;
  font-size: var(--size-24);
  margin-top: 22px;
}

.container-about-us ul li:first-child {
  margin-top: 0;
}

.container-two-columns {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: row wrap;
  gap: 40px;
  width: 100%;
}

.container-all-question {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  gap: 40px;
}

.aside-faq-question-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 16px;
  border-radius: 8px;
  gap: 8px;
  width: 500px;
  flex-flow: wrap row;
}

.aside-faq-question-container .aside-faq-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-flow: row nowrap;
}

.center-text {
  text-align: center;
}

.aside-faq-question-container.inactive {
  background-color: var(--dark-purple);
}

.aside-faq-question-container.active {
  background-color: var(--white);
  border: 1px solid var(--dark-purple);
  border-radius: 8px;
}

.aside-faq-question-container.active summary {
  color: #666666;
}

.aside-faq-question-container p {
  font-size: var(--size-16)
}

.aside-faq-question-container.active p {
  color: var(--neuter-90);
}

summary::-webkit-details-marker {
  display: none;
}

.aside-faq-question-container summary {
  width: 89%;
  font-size: var(--size-20);
  line-height: 110%;
  font-weight: 700;
  font-style: normal;
  margin-right: 10px;
}

.aside-faq-icon {
  padding: 8px;
  width: 34px;
  height: 34px;
  background-color: var(--white);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aside-faq-question-container.active .aside-faq-icon {
  background-color: var(--dark-purple);
}

.aside-faq-question-container.inactive .aside-faq-icon {
  background-color: var(--white);
}


.collapse-icon{
  position: relative;
}

.collapse-icon .acc-close{
  height: 20px;
  transition: all .5s ease-in-out;
  transform: rotate(-90deg);
  opacity: 1;
}

.aside-faq-question-container.active .collapse-icon .acc-close {
  border-left: 2px solid var(--white);
}

.aside-faq-question-container.inactive .collapse-icon .acc-close {
  border-left: 2px solid var(--dark-purple);
}

.collapse-icon .acc-open {
  width: 19px;
  position: absolute;
  transition: all .5s ease-in-out;
  transform: rotate(90deg);
  top: 43%;
  right: -8px;
}

.aside-faq-question-container.active .collapse-icon .acc-open {
  border-top: 2px solid var(--white);
}

.aside-faq-question-container.inactive .collapse-icon .acc-open {
  border-top: 2px solid var(--dark-purple);
}


.aside-faq-question-container.active .collapse-icon{
  transition: all .5s ease-in-out;
  transform: rotate(180deg);
}

.aside-faq-question-container.inactive .collapse-icon{
  transition: all .5s ease-in-out;
  transform: rotate(-180deg);
}

.aside-faq-question-container.active .collapse-icon .acc-open{
  opacity: 0;
}

.desWrapper {
  max-height:fit-content;
  display: none;
  transition: max-height 1s ease-in;
}

.desWrapper.active {
  background-color: var(--white);
}

.desWrapper.inactive {
  background-color: var(--dark-purple);
}

@media screen and (max-width: 950px) {
  .aside-faq-question-container {
    width: 100%;
    flex-flow: column nowrap;
  }

  .container-about-us-photo-matheus {
    background: url('../assets/Matheus.webp') center center / cover no-repeat;;
  }

  .container-about-us-photo-matheus:hover {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url('../assets/Matheus.webp') center center / cover no-repeat;
  }

  .container-about-us-photo-giovanna {
    background: url('../assets/Giovanna.webp') center center / cover no-repeat;
  }

  .container-about-us-photo-giovanna:hover {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url('../assets/Giovanna.webp') center center / cover no-repeat;
  }
}