@import 'start.css';
@import 'theme.css';
@import 'components.css';

body {
  padding: 0;
  margin: 0;
  background-color: var(--medium-purple);
  font-family: 'Poppins', sans-serif;
  color: var(--white);
  min-height: 100vh;
}

.header-container {
  background: linear-gradient(243.62deg,
      rgba(61, 28, 94, 0) 27.53%, #26123B 74.44%),
    url('../assets/banner.png') center center / cover no-repeat;
  height: 100vh;
  gap: 72px;
  display: flex;
  flex: none;
  order: 1;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.header-text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 658px;
  height: 475px;
  flex: none;
  order: 0;
  flex-grow: 0;
}


.header-text-container h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 4rem;
  line-height: 110%;
  color: #FFFFFF;
}

.header-text-container h1 strong{
  line-height: 110%;
  color: var(--light-green);
}

.header-text-container p {
  margin-top: 16px;
  font-size: 1.75rem;
}

.section-services {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
}

.section-services-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 100px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  text-align: right;
}

.section-services-row-reverse {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  margin-top: 100px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  text-align: left;
}

.section-services-text {
  width: 48%;
}

.section-services-image {
  width: 48%;
}

.section-services-text h2 {
  font-size: 4rem;
  color: var(--light-purple);
}

.section-services-text p {
  font-size: 2rem;
  color: var(--neuter-90);
}

.section-numbers {
  display: flex;
  background: url(../assets/background-2.png), linear-gradient(270deg, #3D1C5E 0%, #26123B 100%);
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 104px 12%;
}

.section-numbers h2 {
  font-size: 4rem;
  color: var(--light-green);
}

.section-numbers p {
  font-size: 2rem;
  color: var(--white);
}

.section-number-statistics {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.section-number-statistics {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}


.section-number-statistics-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.section-number-statistics-container img {
  width: 22%;
  margin-right: 32px;
}

.section-number-statistics-container-text {
  display: flex;
  flex-direction: column;
  width: 78%;
}

.section-number-statistics-container-text h3 {
  font-size: 4rem;
}

.section-number-statistics-container-text p {
  font-size: 1.5rem;
}

.section-compromise {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 104px 12%;
  background-color: var(--white);
}


.section-compromise h2 {
  color: var(--light-purple);
  font-size: 4rem;
}

.section-compromise-cards {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 32px;
}

.section-compromise-single-card {
  display: flex;
  flex-direction: column;
  width: 370px;
  height: 392px;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  padding: 40px 32px;
  background-color: var(--medium-purple);
}

.section-compromise-single-card h3 {
  color: var(--light-green);
  font-size: 1.8rem;
  margin-top: 24px;
  width: 250px;
}

.section-compromise-single-card p {
  font-size: 1.25rem;
  margin-top: 24px;
}

.section-about-us {
  display: flex;
  padding: 104px 12%;
  flex-direction: column;
  align-items: center;
}

.section-about-us h2 {
  font-size: 3rem;
  margin-top: 24px;
}

.section-about-us-cards {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.aside-faq {
  display: flex;
  padding: 104px 12%;
  flex-direction: column;
  align-items: center;
  background-color: var(--white);
}

.aside-faq h2  {
  color: var(--light-purple);
  font-size: 3rem;
}

.logo {
  width: 282px;
  height: 116px;
}

.space-top {
  margin-top: 70px;
}