@import 'start.css';
@import 'theme.css';
@import 'components.css';

body {
  padding: 0;
  margin: 0;
  background-color: var(--medium-purple);
  font-family: 'Poppins', sans-serif;
  color: var(--white);
  min-height: 100vh;
}

.header-container {
  background: linear-gradient(243.62deg,
      rgba(61, 28, 94, 0) 27.53%, #26123B 74.44%),
    url('../assets/banner.png') center center / cover no-repeat;
  max-height: 95vh;
  gap: 72px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  height: 100%;
  align-items: flex-start;
  padding: 104px 11%;
}

.header-container .header-logo-container {
  width: 27%;
}

.header-text-container {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  gap: 16px;
  width: 70%;
}


.header-text-container h1 {
  font-style: normal;
  font-weight: 700;
  font-size: var(--size-64);
  line-height: 110%;
  color: #FFFFFF;
}

.header-text-container h1 strong{
  line-height: 110%;
  color: var(--light-green);
}

.header-text-container p {
  font-size: var(--size-28);
}

.section-services {
  background-color: var(--white);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 80px 0;
  justify-content: center;
  padding: 104px 11%;
}

.section-services-button {
  display: flex;
  justify-items: center;
  align-items: center;
}

.section-services-row {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  flex: none;
  align-self: stretch;
  flex-grow: 0;
  text-align: right;
}

.section-services-row-reverse {
  display: flex;
  flex-flow: row-reverse wrap;
  align-items: center;
  justify-content: space-between;
  flex: none;
  align-self: stretch;
  flex-grow: 0;
  text-align: left;
}

.section-services-text {
  width: calc(50% - 16px);
}

.section-services-image {
  width: calc(50% - 16px);;
}

.section-services-text h2 {
  font-size: var(--size-64);
  color: var(--light-purple);
  line-height: 110%;
}

.section-services-text p {
  font-size: var(--size-32);
  color: var(--neuter-90);
}

.section-numbers {
  display: flex;
  background: url(../assets/background-2.png), linear-gradient(270deg, #3D1C5E 0%, #26123B 100%);
  width: 100%;
  flex-flow: column;
  gap: 60px;
  justify-content: space-between;
  align-items: center;
  padding: 104px 11%;
}

.section-numbers h2 {
  font-size: var(--size-64);
  color: var(--light-green);
  text-align: center;
  line-height: 110%;
}

.section-numbers p {
  font-size: var(--size-32);
  color: var(--white);
  text-align: center;
}

.section-number-statistics {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  gap: 60px 32px;
  width: 100%;
}


.section-number-statistics-container {
  display: flex;
  flex-flow: row;
  justify-content: center;
  gap: 32px;
  align-items: center;
}

.section-number-statistics-container-text {
  display: flex;
  flex-flow: column;
  width: 78%;
}

.section-number-statistics-container-text h3 {
  font-size: var(--size-64);
  line-height: 110%;
  text-align: left;
}

.section-number-statistics-container-text p {
  font-size: var(--size-24);
}

.section-compromise {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding: 104px 11%;
  gap: 60px;
  background-color: var(--white);
}


.section-compromise h2 {
  color: var(--light-purple);
  font-size: var(--size-64);
  text-align: center;
  line-height: 110%;
}

.section-compromise-cards {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}

/* .section-compromise-cards .section-compromise-single-card:not(:first-child) {
  margin-left: 32px;
} */

.section-compromise-single-card {
  display: flex;
  flex-flow: column nowrap;
  width: 31%;
  height: 392px;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
  text-align: center;
  padding: 40px 32px;
  background-color: var(--medium-purple);
}

.section-compromise-single-card h3 {
  color: var(--light-green);
  font-size: var(--size-28);
  text-align: center;
}

.section-compromise-single-card p {
  font-size: var(--size-24);
  text-align: center;
}

.section-about-us {
  background: url(../assets/background-2.png), linear-gradient(256.27deg, #3D1C5E 0%, #26123B 100%);
  background-blend-mode: luminosity, normal;
  display: flex;
  padding: 104px 11%;
  flex-flow: column;
  gap: 50px;
  align-items: center;
}

.section-about-us h2 {
  font-size: var(--size-64);
  text-align: center;
}

.section-about-us-cards {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  align-items: center;
  flex-flow: row wrap;
  width: 100%;
}

.aside-faq {
  display: flex;
  padding: 104px 11%;
  flex-flow: column;
  align-items: center;
  gap: 70px;
  background-color: var(--white);
}

.aside-faq .subtitle {
  color: var(--neuter-90);
  font-size: var(--size-28);
  text-align: center;
}

.aside-faq h2  {
  color: var(--light-purple);
  font-size: var(--size-64);
  text-align: center;
}

.footer-area {
  display: flex;
  padding: 104px 11%;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  background: url(../assets/background-2.png), #000000;
  background-blend-mode: luminosity, normal;
  gap: 60px;
}

.footer-area .footer-text {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.footer-area .footer-text h2 {
  color: var(--light-green);
  font-size: var(--size-48);
  line-height: 110%;
  text-align: center;
}

.footer-area .footer-social {
  display: flex;
  flex-flow: column wrap;
  gap: 40px;
  align-items: center;
  justify-content: center;
}

.footer-area .subtitle {
  font-size: var(--size-28);
  text-align: center;
}

.footer-area .copyright {
  color: #4D4D4D;
  text-align: center;
}

.social-media {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-media .social-media-container:not(:first-child) {
  margin-left: 26px;
}

.social-media .social-media-container {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
}

.logo {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1235px) {
  .section-services, .section-numbers, .section-about-us, .section-compromise, .aside-faq, .footer-area {
    padding: 80px 8%;
    gap: 32px;
  }

  .header-container {
    padding: 32px 8% 80px;
    gap: 32px;
    min-height: 95vh;
    max-height: none;
    height: auto;
  }

  .section-number-statistics, .section-compromise-cards{
    justify-content: center;
  }

  .section-services-row, .section-services-row-reverse {
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;
    text-align: center;
    gap: 32px 0;
  }

  .section-compromise-cards, .section-about-us-cards {
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
  }

  .section-compromise-cards .section-compromise-single-card, .container-about-us {
    width: 70%;
    height: auto;
  }

  .section-services-text, .section-services-image {
    width: 100%;
  }
}

@media screen and (max-width: 950px) {
  .section-services, .section-numbers, .section-about-us, .section-compromise, .aside-faq, .footer-area {
    padding: 56px 5%;
    gap: 32px;
  }

  .container-about-us p {
    width: 100%;
  }

  .header-container {
    padding: 56px 5% 80px;
    gap: 32px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: column wrap;
    min-height: 95vh;
    max-height: none;
    height: auto;
    text-align: center;
    background: url(../assets/home-mobile-3.webp) center center / cover no-repeat;
  }

  .header-container .header-logo-container {
    width: 40%;
  }

  .header-container .header-text-container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    flex: 1;
  }

  .section-number-statistics, .section-compromise-cards{
    justify-content: center;
  }

  .section-services-row, .section-services-row-reverse {
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;
    text-align: center;
    gap: 32px 0;
  }

  .section-compromise-cards, .section-about-us-cards {
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
  }

  .section-compromise-cards .section-compromise-single-card, .container-about-us {
    width: 100%;
    height: auto;
  }

  .section-number-statistics-container {
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
  }


.section-number-statistics-container-text {
  display: flex;
  flex-flow: column;
  width: 100%;
}

.section-number-statistics-container-text h3 {
  font-size: var(--size-56);
  line-height: 110%;
  text-align: center;
}

  .container-about-us {
    width: 100%;
  }

  .section-services-text, .section-services-image {
    width: 100%;
  }
}